<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 配置映射类的别名 -->
	<typeAliases>
		<!-- 全路径别名 -->
		<typeAlias alias="User"
			type="com.sample.project.mybatis_core.model.User" />
		<typeAlias alias="Article"
			type="com.sample.project.mybatis_core.model.Article" />
	</typeAliases>
</configuration>